<%= render "enployee/shared/links" %>
  <div class="container">
    <div>
      <div class="mt-5 mx-5 ">
        <h2 class="bg-light text-center col-3">
          残業申請
        </h2>        
      </div>
      <%= form_with model: @overtime, url: overtimes_path do |f| %>
        <div class="text-center">
          <h3>
            残業時間入力
          </h3>
          <div class="d-flex justify-content-center">
            <div class="mx-3">
              <h4>
                残業開始時間
              </h4>
              <div>
                <%= f.number_field :overtime_start_month, style: 'width: 50px;' %> / <%= f.number_field :overtime_start_day , style: 'width: 50px;' %>   <%= f.number_field :overtime_start_hour, style: 'width: 50px;'  %> : <%= f.number_field :overtime_start_minute, style: 'width: 50px;' %>
              </div>
            </div>
            <div class="mx-3">
              <h4>
                残業終了時間
              </h4>
              <div>
                <%= f.number_field :overtime_finish_month, style: 'width: 50px;'  %> / <%= f.number_field :overtime_finish_day, style: 'width: 50px;' %>   <%= f.number_field :overtime_finish_hour, style: 'width: 50px;'  %> : <%= f.number_field :overtime_finish_minute, style: 'width: 50px;' %>
              </div>
            </div>            
          </div>
        </div>
        <div class="text-center mt-5">
          <h3>
            申請理由
          </h3>
          <%= f.text_area :overtime_request %>
          <div class="text-cente mt-3 mx-5 px-5">
            <%= f.submit "申請",class: 'btn btn-success', style: 'width: 270px; height: 50px;'  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
