<%= render "admin/shared/links" %>
  <div class="container">
    <div class="mt-5">
      <h2 class="bg-light col-3 text-center">
        残業承認待ち一覧
      </h2>
    </div>
    <div class="mt-5 text-center col-6">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th class="col-3">
              社員名
            </th>
            <th class="col-3">
              申請日時
            </th>
          </tr>
        </thead>
        <% @overtimes.each do |overtime| %>
          <tbody>
            <% if overtime.admit_status == false %>
              <tr>
                <td>
                  <%= overtime.enployee.last_name %> <%= overtime.enployee.first_name %>
                </td>
                <td>
                  <%= link_to admin_overtime_path(overtime.id) do %>
                    <%= overtime.overtime_start_month %>/<%= overtime.overtime_start_day %>
                  <% end %>ほんとはcreated.at使いたい
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>