<%= render "admin/shared/links" %>
  <div class="container">
    <div class="mt-5">
      <h2 class="bg-light text-center col-3">
        承認画面
      </h2>
    </div>
    <div class="mt-5 text-center">
      <table class="table table-bordered col-8">
        <thead>
          <tr>
            <th class="col-2">
              日付
            </th>
            <th class="col-3">
              出勤
            </th>
            <th class="col-3">
              退勤
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @stamp.work_finish&.strftime("%m/%d") %>
            </td>
            <td>
              <%= @stamp.work_start&.strftime("%H:%M") %>
            </td>
            <td>
              <%= @stamp.work_finish&.strftime("%H:%M") %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-5 mx-5">
      <%= form_with model: @stamp, url: admin_stamp_path(@stamp.id), method: :PATCH do |f| %>
        <%= f.submit "承認する",class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>